.content{
	padding: 50px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.navigation_part{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.search_part{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.input_part{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: #4E6EF2;
	border-style: solid;
	width: 800px;
	height: 45px;
	border-width: 2px;
	border-radius: 10px 0px 0px 10px;
}
.search_input{
	border: none;
	width: 600px;
	height: 35px;
}
.sebutton_div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: #4E6EF2;
	border-style: solid;
	width: 100px;
	height: 45px;
	border-width: 2px;
	border-radius: 0px 10px 10px 0px;
	background-color: #4E6EF2;
}
.search_button{
	font-size: 20px;
	height: 45px;
	width: 100px;
	border-radius: 0 10px 10px 0px;
	border-style: solid;
	background-color: #4E6EF2;
	border: #4E6EF2;
}
.content_part{
	width: 900px;
	margin-top: 20px;
	border: #000000;
	border-width: 2px;
	border-style: solid;
}
.sidebar{
	margin-left: 50px;
	width:100%;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.weather_part{
	
	border: #000000;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	
	width: 300px;
	height: 200px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.weather_text{
	margin: 30px;
}

.fortune_part{
	border: #000000;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	
	margin-top: 50px;
	width: 300px;
	height: 200px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.fortune_text{
	color: #FF0000;
	font-size: 24px;
	margin: 4px;
}
.content_table{
	margin: 30px;
	font-size: 24px;
	text-align: center;
}
td{
	width:100px;
	height:30px;
	padding:10px;
	text-align: center;
}