.content{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	animation: fadein 5s;
	-ms-animation:fadein 5s;		/* IE 9 */
	-moz-animation: fadein 5s;		/* Firefox */
	-webkit-animation: fadein 5s; 	/* Safari and Chrome */
	-moz-animation: fadein 5s;		/*Opera*/
}
.overview{
	padding: 10px;
	width: 100%;
	min-width: 1100px;
	font-size: 24px;
	
	border-style: outset;
	border-color: #AFFFFF;
	border-width: 4px;
	border-radius: 20px;
}
.partview{
	width: 100%;
	min-width: 1100px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.part1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.part2{
	margin: 10px;
	padding: 10px;
	width: 30%;
	min-width: 330px;
	font-size: 24px;
	margin-left: 0px;
	
	border-style: outset;
	border-color: #AFFFFF;
	border-width: 4px;
	border-radius: 20px;
}
@keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
@-ms-keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
@-webkit-keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
@-moz-keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
